.vscode
data/Mnist
resources/_gen/assets/scss/poryoung/machine-learning-notes/book.scss_50fc8c04e12a2f59027287995557ceff.content
.gitignore
resources/_gen/assets/scss/poryoung/machine-learning-notes/book.scss_50fc8c04e12a2f59027287995557ceff.json
docs
